ldap.url=ldap://localhost:389
ldap.userDn={{ slapd_basedn_admin }}
ldap.base={{ slapd_basedn }}
ldap.password={{ ldap_data_tree_password }}
ldap.consumerName=ldapcConsumer
ldap.loginNamespace={{ slapd_password_sasl_login_namespace }}
# password for cn=admin,cn=config: {{ config_admin_password }}
